@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Favorite Podcast";
}
<br /><br />
<h3>Click <a href="https://baconsale.com/" target="_blank">here</a> to visit Baconsale.com</h3>